{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/api_doc.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div>
    <h3>API list and calls examples</h3>
</div>
<span>
  <table id="api_list">
  <tr>
    <th>api url</th>
    <th>api example</th>
    <th>api output example</th>
      <th>api explaination</th>
  </tr>
  <tr>
    <td>api/v1/devices/</td>
    <td>/application/api/v1/devices/</td>
    <td>[
    {
        "id": 3,
        "name": "device1"
    },
    {
        "id": 2,
        "name": "device2"
    },
    {
        "id": 3,
        "name": "device3"
    }]
    </td>
      <td> returns all exists devices</td>
  </tr>
  <tr>
    <td>api/v1/devices/int:device_id/</td>
    <td>/application/api/v1/devices/4/</td>
    <td>{
    "id": 4,
    "name": "newDeviceAdded"}
    </td>
      <td> returns a device</td>
  </tr>
  <tr>
    <td>api/v1/devices/create_device/</td>
    <td>/application/api/v1/create_device</td>
    <td>{ "id": GENERATED DEVICE ID, "name": "devicename" }</td>
      <td> creates a new device , automaticly adds id</td>
  </tr>
  <tr>
    <td>api/v1/devices/int: device_id/update_device/</td>
    <td>/application/api/v1/devices/1/update_device/</td>
    <td>{"id": 1,"name": "device1"} </td>
      <td> updates the device, returns the new object</td>
  </tr>
  <tr>
    <td>api/v1/devices/int: device_id/delete_device/</td>
    <td>/application/api/v1/devices/1/delete_device/</td>
    <td></td>
      <td> deletes the object,returns nothing, status 204 on successful delete, on fail returns {"detail": "Not found."}</td>
  </tr>
  <tr>
    <td>api/v1/properties/</td>
    <td>/application/api/v1/properties/</td>
    <td>[
    {
        "id": 1,
        "name": "property1",
        "content": "content1",
        "type": "type1",
        "DeviceId": 3
    },
    {
        "id": 2,
        "name": "property2",
        "content": "content2",
        "type": "type2",
        "DeviceId": 3
    }</td>
      <td>returns all exists properties</td>
  </tr>
  <tr>
    <td>api/v1/properties/int: property_id/</td>
    <td>/application/api/v1/properties/1/</td>
    <td>{
    "id": 1,
    "name": "property1",
    "content": "content1",
    "type": "type1",
    "DeviceId": 3
}</td>
      <td>returns a property</td>
  </tr>
  <tr>
    <td>api/v1/properties/create_property/</td>
    <td>/application/api/v1/properties/create_property/</td>
    <td>{ "id": GENERATED ID, "name": "property1", "content": "content1", "type": "type1", "DeviceId": 2 }</td>
      <td> creates a new property, returns the created object</td>
  </tr>
  <tr>
    <td>api/v1/properties/int: property_id/update_property/</td>
    <td>/application/api/v1/properties/2/update_property/</td>
    <td>{ "id": 2, "name": "newproperty1", "content": "newcontent1", "type": "newtype1", "DeviceId": 2 }</td>
      <td> updates the property, returns the new object </td>
  </tr>
  <tr>
    <td>api/v1/properties/int: property_id/delete_property/</td>
    <td>application/api/v1/properties/1/delete_property/</td>
      <td></td>
    <td>deletes the object,returns nothing, status 204 on successful delete, on fail returns {"detail": "Not found."}</td>
  </tr>
       <tr>
    <td>api/v1/devices/int:device_id/properties/</td>
    <td>application/api/v1/devices/2/properties/</td>
      <td>[
    {
        "id": 1,
        "name": "property1",
        "content": "content1",
        "type": "type1",
        "DeviceId": 3
    },
    {
        "id": 2,
        "name": "property2",
        "content": "content2",
        "type": "type2",
        "DeviceId": 3
    }
]</td>
    <td>returns the properties for given device_id</td>
  </tr>
       <tr>
    <td>api/v1/devices/int:device_id/properties/str:property_filter_field</td>
    <td>application/api/v1/devices/3/properties/?property_filter_field=content2</td>
      <td>[
    {
        "id": 2,
        "name": "property2",
        "content": "content2",
        "type": "type2",
        "DeviceId": 3
    }
]</td>
    <td>return the properties for given_id filtered by property_filter_field value</td>
  </tr>
</table>



</span>
</body>
</html>

{#    path('api/v1/devices/<int:device_id>/properties/<str:property_filter_field>', views.DeviceProperties.as_view(),name='getSingleDeviceProperty'),#}