#api_list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#api_list td, #api_list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#api_list tr:nth-child(even){background-color: #f2f2f2;}

#api_list tr:hover {background-color: #ddd;}

#api_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}